# Challenge Dados - 2ª Edição

## Importando bibliotecas

In [57]:
import pandas as pd

pd.options.display.max_columns = 999

## Importando dados

In [58]:
df = pd.read_json('https://challenge-data-science-3ed.s3.amazonaws.com/Telco-Customer-Churn.json')

## Análise exploratória e transformações iniciais

In [59]:
df

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
...,...,...,...,...,...,...
7262,9987-LUTYD,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
7263,9992-RRAMN,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7264,9992-UJOEL,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7265,9993-LHIEB,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7266,9995-HOTOH,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."

In [60]:
customer = pd.json_normalize(df['customer'])
phone = pd.json_normalize(df['phone'])
internet = pd.json_normalize(df['internet'])
account = pd.json_normalize(df['account'])

df_minimo = df[['customerID','Churn']]

df_normalizado = pd.concat([df_minimo,customer,phone,internet,account],axis=1)
df_normalizado

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,Yes,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,No,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,Yes,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [61]:
#Verificando duplicatas
print(df_normalizado.duplicated().sum())
print(df_normalizado.customerID.duplicated().sum())

0
0

In [62]:
#Informações gerais
df_normalizado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [63]:
df_normalizado['Charges.Total'].value_counts()

Charges.Total
           11
20.2       11
19.75       9
19.55       9
19.9        9
           ..
272         1
1426.45     1
371.6       1
6786.4      1
3707.6      1
Name: count, Length: 6531, dtype: int64

In [64]:
#Ajustando incosistência e tipo do dado
df_normalizado['Charges.Total'] = df_normalizado['Charges.Total'].replace(' ','0')
df_normalizado['Charges.Total'] = df_normalizado['Charges.Total'].astype('float')

In [65]:
df_normalizado.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.30
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.40
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.40

In [66]:
#Valores únicos de cada coluna
for i in df_normalizado[['Churn', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'Charges.Monthly',
       'Charges.Total']]:
       print(10*'=','Coluna:', i,10*'=')
       print(df_normalizado[i].unique())
       print(100*'-','\n')

========== Coluna: Churn ==========
['No' 'Yes' '']
----------------------------------------------------------------------------------------------------

========== Coluna: gender ==========
['Female' 'Male']
----------------------------------------------------------------------------------------------------

========== Coluna: SeniorCitizen ==========
[0 1]
----------------------------------------------------------------------------------------------------

========== Coluna: Partner ==========
['Yes' 'No']
----------------------------------------------------------------------------------------------------

========== Coluna: Dependents ==========
['Yes' 'No']
----------------------------------------------------------------------------------------------------

========== Coluna: tenure ==========
[ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 11 37 49 66
 67 20 43 59 12 27  2 25 29 14 35 64 39 40  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 51 31 36 17 18 38 42
  0]
----------------------------------------------------------------------------------------------------

========== Coluna: PhoneService ==========
['Yes' 'No']
----------------------------------------------------------------------------------------------------

========== Coluna: MultipleLines ==========
['No' 'Yes' 'No phone service']
----------------------------------------------------------------------------------------------------

========== Coluna: InternetService ==========
['DSL' 'Fiber optic' 'No']
----------------------------------------------------------------------------------------------------

========== Coluna: OnlineSecurity ==========
['No' 'Yes' 'No internet service']
----------------------------------------------------------------------------------------------------

========== Coluna: OnlineBackup ==========
['Yes' 'No' 'No internet service']
----------------------------------------------------------------------------------------------------

========== Coluna: DeviceProtection ==========
['No' 'Yes' 'No internet service']
----------------------------------------------------------------------------------------------------

========== Coluna: TechSupport ==========
['Yes' 'No' 'No internet service']
----------------------------------------------------------------------------------------------------

========== Coluna: StreamingTV ==========
['Yes' 'No' 'No internet service']
----------------------------------------------------------------------------------------------------

========== Coluna: StreamingMovies ==========
['No' 'Yes' 'No internet service']
----------------------------------------------------------------------------------------------------

========== Coluna: Contract ==========
['One year' 'Month-to-month' 'Two year']
----------------------------------------------------------------------------------------------------

========== Coluna: PaperlessBilling ==========
['Yes' 'No']
----------------------------------------------------------------------------------------------------

========== Coluna: PaymentMethod ==========
['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
----------------------------------------------------------------------------------------------------

========== Coluna: Charges.Monthly ==========
[65.6  59.9  73.9  ... 91.75 68.8  67.85]
----------------------------------------------------------------------------------------------------

========== Coluna: Charges.Total ==========
[ 593.3   542.4   280.85 ...  742.9  4627.65 3707.6 ]
----------------------------------------------------------------------------------------------------

In [67]:
#Excluindo linhas onde o churn é nulo, pois não será possível "classficar" o cliente
df_normalizado.Churn.replace('',None,inplace=True)
df_normalizado.dropna(inplace=True)

In [68]:
#Verificando valores modificados
print(df_normalizado.shape)
df_normalizado.Churn.value_counts(dropna=False)

(7043, 21)

Churn
No     5174
Yes    1869
Name: count, dtype: int64

In [69]:
#Entendendo a descrição estatística de forma geral
df_normalizado.describe().round(3)

       SeniorCitizen    tenure  Charges.Monthly  Charges.Total
count       7043.000  7043.000         7043.000       7043.000
mean           0.162    32.371           64.762       2279.734
std            0.369    24.559           30.090       2266.794
min            0.000     0.000           18.250          0.000
25%            0.000     9.000           35.500        398.550
50%            0.000    29.000           70.350       1394.550
75%            0.000    55.000           89.850       3786.600
max            1.000    72.000          118.750       8684.800

In [70]:
df_normalizado.columns

Index(['customerID', 'Churn', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'Charges.Monthly',
       'Charges.Total'],
      dtype='object')

In [71]:
#Traduzindo as colunas
df_normalizado.columns

df_normalizado.columns = ['customerID', 'churn', 'genero', 'idoso', 'tem_conjuge',
                          'tem_dependentes','meses_de_contrato', 'possui_servico_telefone', 'possui_multiplas_linhas',
                          'possui_servico_internet', 'possui_servico_seguranca_online', 'possui_servico_backup_online','possui_servico_protecao_dispositivo',
                          'possui_servico_suporte_tecnico','possui_TV_a_cabo', 'possui_TV_streaming', 'tipo_de_contrato',
                          'recebimento_de_fatura_online','forma_de_pagamento', 'fatura_mensal',
                          'total_gasto']

In [72]:
#Verificando valores colocados como "0" inicialmente na fatura total

teste = df_normalizado[['tipo_de_contrato','forma_de_pagamento','meses_de_contrato','fatura_mensal','total_gasto']]
teste.loc[:,'eh_fatura_total'] = teste.loc[:,'meses_de_contrato'] * teste.loc[:,'fatura_mensal']
teste.loc[:,'diff'] = teste.loc[:,'eh_fatura_total'] - teste.loc[:,'total_gasto']

teste

# O total gasto é o valor da fatura mensal pelos meses de contrato?

/tmp/ipykernel_9725/440007231.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teste.loc[:,'eh_fatura_total'] = teste.loc[:,'meses_de_contrato'] * teste.loc[:,'fatura_mensal']
/tmp/ipykernel_9725/440007231.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teste.loc[:,'diff'] = teste.loc[:,'eh_fatura_total'] - teste.loc[:,'total_gasto']

,tipo_de_contrato,forma_de_pagamento,meses_de_contrato,fatura_mensal,total_gasto,eh_fatura_total,diff
0,One year,Mailed check,9,65.60,593.30,590.40,-2.90
1,Month-to-month,Mailed check,9,59.90,542.40,539.10,-3.30
2,Month-to-month,Electronic check,4,73.90,280.85,295.60,14.75
3,Month-to-month,Electronic check,13,98.00,1237.85,1274.00,36.15
4,Month-to-month,Mailed check,3,83.90,267.40,251.70,-15.70
...,...,...,...,...,...,...,...
7262,One year,Mailed check,13,55.15,742.90,716.95,-25.95
7263,Month-to-month,Electronic check,22,85.10,1873.70,1872.20,-1.50
7264,Month-to-month,Mailed check,2,50.30,92.75,100.60,7.85
7265,Two year,Mailed check,67,67.85,4627.65,4545.95,-81.70
7266,Two year,Electronic check,63,59.00,3707.60,3717.00,9.40

In [73]:
teste['diff'].describe() #Há uma considerável variação entre eles de forma geral

count    7043.000000
mean       -0.152953
std        67.202778
min      -373.250000
25%       -28.500000
50%         0.000000
75%        28.600000
max       370.850000
Name: diff, dtype: float64

In [74]:
teste.query('forma_de_pagamento == "Mailed check"')['diff'].describe() #Não tem um "padrão" devido a forma de pagamento

count    1612.000000
mean        0.391532
std        43.832980
min      -200.450000
25%       -14.487500
50%         0.000000
75%        15.062500
max       249.050000
Name: diff, dtype: float64

In [75]:
teste.query('forma_de_pagamento == "Electronic check"')['diff'].describe() #Não tem um "padrão" devido a forma de pagamento

count    2365.000000
mean       -1.187907
std        65.554589
min      -367.550000
25%       -25.650000
50%         0.000000
75%        26.500000
max       354.050000
Name: diff, dtype: float64

In [76]:
teste.query('tipo_de_contrato == "One year"')['diff'].describe() #Nem ao tipo de contrato

count    1473.000000
mean       -2.793924
std        76.182884
min      -367.550000
25%       -42.200000
50%        -0.600000
75%        39.950000
max       355.350000
Name: diff, dtype: float64

In [77]:
teste.query('tipo_de_contrato == "Month-to-month"')['diff'].describe() #Nem ao tipo de contrato

count    3875.000000
mean        0.860452
std        53.510590
min      -373.250000
25%       -16.875000
50%         0.000000
75%        19.250000
max       354.050000
Name: diff, dtype: float64

Como foi verificado, os valors preenchidos com "0" anteriormente, serão excluídos.

In [80]:
df_total_gasto_0 = df_normalizado.query('total_gasto == 0')

print('Quantidade de clientes = ', df_total_gasto_0.shape[0])

Quantidade de clientes =  11

In [81]:
df_normalizado_estruturado = df_normalizado.drop(labels=df_total_gasto_0.index)

In [82]:
df_normalizado_estruturado

,customerID,churn,genero,idoso,tem_conjuge,tem_dependentes,meses_de_contrato,possui_servico_telefone,possui_multiplas_linhas,possui_servico_internet,possui_servico_seguranca_online,possui_servico_backup_online,possui_servico_protecao_dispositivo,possui_servico_suporte_tecnico,possui_TV_a_cabo,possui_TV_streaming,tipo_de_contrato,recebimento_de_fatura_online,forma_de_pagamento,fatura_mensal,total_gasto
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.30
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.40
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,Yes,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.90
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,No,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.70
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,Yes,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.60

## Análise exploratória - Churn